= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :weight
    = f.text_area :weight
  .field
    = f.label :parent_id
    = f.collection_select :parent_id, Article.order(:name), :id, :name, include_blank: true
  .actions
    = f.submit 'Save'
