= notice

%h1
  = @article.name
%hr

= @article.content.html_safe if @article.content.present?

= social_share_button_tag(@article.name)

= link_to 'Edit', edit_article_path(@article) if current_user
= link_to 'Back', articles_path if current_user

