- content_for :splash do
  - if flash[:notice]
    .row
      .large-12.columns
        %div{:data => {:alert => true}, class: "alert-box success"}
          = notice
          %a{ href: "#", class: "close"} &times;
  %dl.accordion{:data => {'accordion' => true}} 
    %dd
      %a{id: "delivery-car", href: "#panel1"}
        .row
          .large-12.columns
            = t('welcome.auto')
      #panel1.content
        .row
          .large-9.columns
            %p= t('welcome.autotext')
          .large-3.columns
            %h5
              = link_to t('more'), Article.find_by_name("Международные автомобильные грузоперевозки") || root_path
    %dd
      %a{id: "delivery-air", href: "#panel2"}
        .row
          .large12.columns
            = t('welcome.avia')
      #panel2.content
        .row
          .large-9.columns
            %p= t('welcome.aviatext')
          .large-3.columns
            %h5= link_to t('more'), Article.find_by_name("Авиаперевозки грузов") || root_path
    %dd
      %a{id: "delivery-rail", href: "#panel3"}
        .row
          .large12.columns
            = t('welcome.rail')
      #panel3.content
        .row
          .large-9.columns
            %p= t('welcome.railtext')
          .large-3.columns
            %h5= link_to t('more'), Article.find_by_name("Перевозки грузов железнодорожным транспортом") || root_path
    %dd
      %a{id: "delivery-ocean", href: "#panel4"}
        .row
          .large12.columns
            = t('welcome.sea')
      #panel4.content
        .row
          .large-9.columns
            %p= t('welcome.seatext')
          .large-3.columns
            %h5= link_to t('more'), Article.find_by_name("Контейнерные морские перевозки") || root_path
